@import url(https://fonts.google.com/specimen/Narnoor);

title {
    color: #000;
    font-family: Narnoor;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

meetingListbox {
    width: 1068px;
    height: 737px;
    flex-shrink: 0;
    border-radius: 91px;
    opacity: 0.87;
    background: radial-gradient(61.41% 43.29% at 50% 40.32%, rgba(255, 255, 255, 0.00) 55.77%, rgba(255, 255, 255, 0.73) 100%);
    box-shadow: 9px 16px 92.7px 58px rgba(60, 56, 110, 0.25);
}

