@import url(https://fonts.google.com/specimen/Narnoor);

.call-history {
    background-image: url('/public/signInUpBg.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inner-call-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;     
    padding-bottom: 5vh; 
}


.meeting-box {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: clamp(30px, 5vw, 91px);
    opacity: 0.87;
    background: radial-gradient(61.41% 43.29% at 50% 40.32%, rgba(255, 255, 255, 0.00) 55.77%, rgba(255, 255, 255, 0.73) 100%);
    box-shadow: 0 4px 21.6px 0 rgba(174, 176, 240, 0.91);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70vw;
    height: 60vh;
}

.log-button {
    display: flex;
    align-items: center;  
    width: auto;
    padding: clamp(0.3rem, 0.6vw, 0.6rem) clamp(0.8rem, 1.5vw, 1.2rem);
    flex-shrink: 0;
    border-radius: 9px;
    background: #000;
    color: #FFF;
    font-family: Narnoor;
    font-size: clamp(0.9rem, 1.3vw, 1.3rem);
    font-style: normal;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;   
    color: #FFF;
    line-height: normal;
}

.meeting-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background: transparent;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2%;
}

.meeting-title {
    flex: 1;                
    text-align: left;
    font-weight: 500;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    font-family: Narnoor;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.back-button {
    position: absolute;  
    left: 20px;    
    background: none;
    margin-right: auto;
    border: none;
    cursor: pointer;
    padding: 5%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.back-button:hover {
  transform: scale(1.1);
  background-color: transparent;
}

#backBtnCallHistory:hover{
    background-color: transparent;
}

#backBtnCallHistory:active{
    background-color: transparent;
}

.back-button svg path {
  fill: #000;
  transition: fill 0.2s ease;
}

.back-button svg {
    width: 20px;
    height: 20px;
    padding: 5%;
}

.meeting-list-box {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}


.meeting-title-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.log-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.title {
    color: #000;
    font-family: Narnoor;
    font-size: clamp(1.8rem, 2.5vw, 3rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.meeting-title{
    margin-top: 0;
    margin-bottom: 0;
}

.log-button{
    padding-bottom: 13px;
}



@media (max-width: 900px) {
  .meeting-box {
    padding: 2rem;
    width: 95%;
    border-radius: 1.2rem;
  }

  .meeting-title-wrap, .log-button-wrap {
    padding: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .log-button{
    margin-top: 0;
    padding-bottom: 10px;
  }

  .meeting-title {
    white-space: normal; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
   }

   .call-history {
    padding:5%
   }
}
