.translation-log {
  background-image: url('/public/callHistoryBg.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}


.back-button {
  position: absolute;  
  left: 20px;    
  background: none;
  margin-right: auto;
  border: none;
  cursor: pointer;
  padding: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.back-button:hover {
  transform: scale(1.1);
}

.back-button svg path {
  fill: #000;
  transition: fill 0.2s ease;
}

.back-button svg {
    width: 4.5rem;
    height: 4.5rem;
}

.log-entry {
  margin-bottom: 1.25rem;
  padding: 1rem;
  border-radius: 10px;
}

.color1 {
  background: #fff6fa;
}

.color2 {
  background: #f5f9ff;
}

.entry-header {
  display: flex;
  display: inline-flex;
  gap: 2rem;
  margin-bottom: 0.4rem;
}

.display-name {
  font-weight: 600;
  color: #555;
  font-size: clamp(0.7rem, 1.2vw, 1.2rem);
}

.timestamp {
  font-weight: 500;
  color: #888;
  font-size: clamp(0.5rem, 1vw, 1rem);
}

.entry-text {
  color: #333;
  line-height: 1.5;
  font-size: clamp(0.7rem, 1.2vw, 1.2rem);
  margin-top: 4px;
  white-space: pre-line;
}


.log-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: clamp(30px, 5vw, 91px);
    opacity: 0.87;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70vw;
    height: 60vh;
    background: white;
}

.log-list-container {
    overflow-y: auto;
    max-height: 700px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}


.inner-translation-log {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}
